.alliance-container {
  padding: 100px 0 160px;
  overflow: hidden;
}

.alliance-container .inner {
  max-width: var(--layout-width-wide);
  margin: 0 auto;
}

.alliance-list-wrap {
  margin-top: calc(60px - 14px);
}

.alliance-list {
  display: flex;
  justify-content: center;
  margin-top: calc(30px - 14px);
}

.alliance-list {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  animation: 20s linear 0s infinite normal none running marquee;
}

.alliance-list + .alliance-list {
  margin-top: 0;
}

.alliance-item {
  width: 260px;
  height: 138px;
  margin: 14px;
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #a8cff9;
  border-radius: 15px;
  position: relative;
}

.alliance-item .logo {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 50%;
}

.alliance-item .logo img {
  object-fit: cover;
}

.alliance-item .name {
  display: flex;
  align-items: center;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.025em;

  color: #000000;
}

.alliance-item .location {
  display: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.025em;

  color: #c4c4c4;
}

.alliance-item .status {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.025em;

  color: #999999;

  position: absolute;
  left: 20px;
  bottom: 20px;
}

.marquee-wrap {
  display: flex;
}

.marquee-wrap:hover .alliance-list {
  animation-play-state: paused;
}

.is-observed .alliance-list-wrap {
  animation: fadeup var(--animation-duration) var(--animation-delay-third)
    linear backwards;
}

/* // todo refacgtoring */
.is-observed.alliance-item div {
  animation: fadeup var(--animation-duration) var(--animation-delay-third)
    linear backwards;
}

@media (max-width: 1000px) {
  .alliance-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .alliance-list-wrap {
    margin-top: 10px;
  }

  .alliance-item {
    width: 200px;
    min-height: 10rem;
    margin: 0.75rem;
    padding: 1rem;
  }

  .alliance-item .logo {
    float: none;
  }

  .alliance-item .name {
    height: auto;
    margin: 0.5rem 0;
    font-size: 14px;
  }

  .alliance-item .status {
    font-size: 12px;
    left: 1rem;
    bottom: 1rem;
  }
}
