.demo-container {
  padding: 120px 0;
  background: #f5f5f5;
}

.demo-container .media {
  max-width: 1000px;
  /* height: 620px; */
  margin: 50px auto 0;
  background: #fff;
}

.demo-container .helper {
  margin: 12px 0 0 0;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.025em;
  text-align: center;

  color: #aaa;
}

@media (max-width: 1000px) {
  .demo-container {
    padding: 40px 0;
  }

  .demo-container .media {
    margin-top: 23px;
  }
}
