.navbar {
    position: sticky;
    top: 0;
    z-index: 8;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1360px;
    height: 80px;
    margin: 0 auto;
    padding: 0 var(--grid-margin);
}

.navbar-logo {
    width: 100px;
}

.navbar-logo .black {
    display: none;
}

.navbar-menu {
    display: flex;
}

.navbar-menu a {
    display: flex;
    align-items: center;
    /* // todo u */
    margin-left: 60px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #fff;
}

.navbar-menu a span {
    margin-left: .25rem;
}

.is-scrolled-once .navbar {
    background: rgba(0, 0, 0, .75);
}

.is-passed-hero .navbar {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.is-passed-hero .navbar a {
    color: #000;
}



.is-passed-hero .navbar-menu a svg {
    color: #000;
}

.is-passed-hero .navbar-logo img {
    display: none;
}

.is-passed-hero .navbar-logo .black {
    display: block;
}


@media (max-width: 1000px) {
    .navbar-inner {
        height: auto;
        padding: 20px var(--grid-margin);
    }

    .navbar-menu {
        display: none;
    }

    .navbar-logo {
        width: 80px;
    }
}