@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;700;900&family=Roboto+Slab:wght@900&display=swap");

@import "variables.css";

@import "reset.css";

@import "utilities.css";

@import "hero.css";

@import "about.css";
@import "faq.css";
@import "feature.css";
@import "alliance.css";
@import "partner.css";
@import "demo.css";
@import "what.css";

@import "workflow.css";

@import "navbar.css";
@import "footer.css";

.section-head {
  text-align: center;
}

.section-head .pill {
  margin: 0 0 24px 0;
}

.pill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* width: 180px; */
  height: 54px;
  padding: 0 20px;
  border: 1px solid #777777;
  border-radius: 50px;

  background: #fff;

  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 26px;
  line-height: 55px;
  box-sizing: border-box;
}

.pill em {
  color: var(--color-primary);
  font-style: normal;
}

/* // width-wide  */
@media (max-width: 1360px) {
  .about-container .inner,
  .what-container .inner,
  .partner-container .inner {
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
  }
}

@media (max-width: 1000px) {
  .inner {
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
  }

  .pill {
    height: 31px;
    font-size: 16px;
    line-height: 21px;
  }

  .section-head .pill {
    margin-bottom: 12px;
  }
}
