@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;700;900&family=Roboto+Slab:wght@900&display=swap');

@import 'variables.css';

@import 'reset.css';

@import 'utilities.css';

@import 'hero.css';

@import 'about.css';
@import 'faq.css';
@import 'feature.css';
@import 'partners.css';
@import 'demo.css';
@import 'what.css';

@import 'navbar.css';
@import 'footer.css';

button {
    font-family: 'Noto Sans KR';
    cursor: pointer;
}


.section-head {
    text-align: center;
}

.section-head .pill {
    margin: 0 0 24px 0;
}

.pill {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* width: 180px; */
    height: 54px;
    padding: 0 20px;
    border: 1px solid #777777;
    border-radius: 50px;

    background: #fff;

    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 26px;
    line-height: 55px;
    box-sizing: border-box;
}

.pill em {
    color: var(--color-primary);
    font-style: normal;
}

.inner {

    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
    /* // todo 중복되는. */
}

.workflow-section-wrap {
    margin: 105px 0 100px;
}

.workflow-section-wrap .media {
    display: flex;
    justify-content: center;
    max-width: var(--layout-width-wide);
    margin: 50px auto 0;
    text-align: center;
}

.workflow-section-wrap .media>div {
    min-height: 450px;
    padding: 30px 0;
    border-radius: 20px;
    position: relative;
}

.workflow-section-wrap .media>div>header {
    margin-bottom: 25px;
}

.workflow-section-wrap .media>div>figure {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 160px;
    margin: auto;
    background: #fff;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
}

.workflow-section-wrap .media .arrow-wrap {
    width: 100px;
}

.workflow-section-wrap .media div .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 42px;
    margin: .5rem auto;
    border-radius: 10px;
    background: #fff;
}

.workflow-section-wrap .media .sending {
    width: 220px;
    height: 400px;
    background: #E9E9E9;
}

.workflow-section-wrap .media .bridge {
    width: 220px;
    height: 400px;
    background: #323333;
    color: #fff;
}

.workflow-section-wrap .media .receive {
    width: 220px;
    height: 400px;
    background: #E9E9E9;
}


.media .arrow-wrap .arrow {
    width: 0;
    height: 2px;
    background: #323333;
}

.arrow-wrap {
    position: relative;
    --step: 72px;
}

.arrow1 .arrow:nth-of-type(1),
.arrow2 .arrow:nth-of-type(1) {
    position: absolute;
    top: 110px;
    left: 0;
}

.arrow1 .arrow:nth-of-type(2),
.arrow2 .arrow:nth-of-type(2) {
    width: auto;
    position: absolute;
    top: 120px;
    left: 100%;
    right: 0;
}

.arrow1 .arrow:nth-of-type(3),
.arrow2 .arrow:nth-of-type(3) {
    position: absolute;
    top: 270px;
    left: 0;
}


@keyframes blink {
    0% {
        background: #fff;
        color: #000;
    }

    33% {
        background: var(--color-primary);
        color: #fff;
    }

    66% {
        background: #fff;
        color: #000;
    }

    100% {
        background: var(--color-primary);
        color: #fff;
    }
}



.is-observed .media .sending {
    animation: fadeup var(--animation-duration) var(--animation-delay-third) linear backwards;
    position: relative;
}

.is-observed .media .bridge {
    animation: fadeup var(--animation-duration) var(--animation-delay-fourth) linear backwards;
    position: relative;
}

.is-observed .media .receive {
    animation: fadeup var(--animation-duration) var(--animation-delay-fifth) linear backwards;
    position: relative;
}


.is-observed .media .item {}

/* // 1열 시작 */
.is-observed .media .sending .item:nth-of-type(1) {
    animation: blink var(--animation-duration) 2s linear backwards;
    transition: all .2s 2s linear;
}

.is-observed .media .arrow1 .arrow:nth-of-type(1) {
    transition: width .4s 2.4s linear;
    width: 100%;
}

.is-observed .media .arrow2 .arrow:nth-of-type(1) {
    transition: width .4s 3s linear;
    width: 100%;
}

.is-observed .media .receive .item:nth-of-type(1) {
    transition: all .2s 3.4s linear;
    background: var(--color-primary);
    color: #fff;
}

.is-observed .media .receive .item:nth-of-type(2) {
    transition: all .2s 4s linear;
    background: var(--color-primary);
    color: #fff;
}

.is-observed .media .arrow2 .arrow:nth-of-type(2) {
    transition: left .4s 4.4s linear;
    left: 0;
}

.is-observed .media .arrow1 .arrow:nth-of-type(2) {
    transition: left .4s 5.2s linear;
    left: 0;
}

.is-observed .media .sending .item:nth-of-type(2) {
    transition: all .2s 5.8s linear;
    background: var(--color-primary);
    color: #fff;
}

.is-observed .media .sending .item:nth-of-type(3) {
    transition: all .2s 6.4s linear;
    background: var(--color-primary);
    color: #fff;
}

.is-observed .media .sending .item:nth-of-type(4) {
    transition: all .2s 7.2s linear;
    background: var(--color-primary);
    color: #fff;
}

.is-observed .media .arrow1 .arrow:nth-of-type(3) {
    transition: width .4s 7.6s linear;
    width: 100%;
}

.is-observed .media .arrow2 .arrow:nth-of-type(3) {
    transition: width .4s 8s linear;
    width: 100%;
}

.is-observed .media .receive .item:nth-of-type(4) {
    transition: all .2s 8.6s linear;
    background: var(--color-primary);
    color: #fff;
}


@media (max-width: 1000px) {
    .pill {
        height: 31px;
        font-size: 16px;
        line-height: 21px;
    }

    .section-head .pill {
        margin-bottom: 12px;
    }

    .inner {
        /* // 24px to */
        padding-left: var(--grid-margin);
        padding-right: var(--grid-margin);
    }

    .workflow-section-wrap {
        margin-bottom: 20px;
    }

}